<style>
  .pre-side {
    position: absolute;
    bottom: 1%;
    left: 5%;
  }
  .pre-side p {
    color: yellow;
    font-weight: bold;
  }
</style>

<% recipes.each do |recipe| %>
    <li class="penci-feed">
      <div class="side-item">
        <div class="side-image thumbnail-right recipe-image p-relative" style="height:auto;">

            <div class="small-fix-size">
              <a class="penci-image-holder small-fix-size" style="background-image: url(<%= recipe.image %>)" href="<%= recipe.is_premium? && !current_user&.is_premium? ? premium_info_path : recipe_path(recipe) %>"></a>
              <% if recipe.is_premium? %>
                <div class="pre-side">
                  <p>Premium</p>
                </div>
              <% end %>
            </div>
        </div>
        <div class="side-item-text">
          <h4 class="side-title-post">
            <a href="<%= recipe.is_premium? && !current_user&.is_premium? ? premium_info_path : recipe_path(recipe) %>" class="recipe-name mt-0"><%= recipe.name %></a>
              </h4>
              <p class="mb-0 rating-avg">
                <span><%= recipe.get_average_rating ? recipe.get_average_rating : "0.0" %></span>
                <i class="fas fa-star"></i>
                <span>(<%= recipe.get_rate_times ? recipe.get_rate_times : "0" %> rating)</span>
              </p>
              <span class="side-item-meta"><%= recipe.created_at.strftime("%b %d, %Y") %></span>
        </div>
      </div>
    </li>
<% end %>