<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
  <!-- Hero Post Slides -->
  <div class="hero-post-slides owl-carousel">
    <% Category.all.each do |category| %>
      <!-- Single Slide -->
      <div class="single-slide">
        <!-- Blog Thumbnail -->
        <div class="blog-thumbnail">
          <a href="#"><img src="/assets/bg-img/<%= rand(3) + 1 %>.jpg" alt=""></a>
        </div>

        <!-- Blog Content -->
        <div class="blog-content-bg">
          <div class="blog-content">
            <a href="<%= recipes_path params: {query: category.name, type: :category} %>" class="post-title"><%= category.name %></a>
            <p class="description"><%= category.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Catagory Area Start ##### -->
	<div class="container container-single penci_sidebar right-sidebar penci-enable-lightbox" style="transform: none;">
		<div id="main" class="penci-layout-grid-2 penci-main-sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
			<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">
        		<div class="penci-border-arrow penci-homepage-title penci-home-latest-posts style-2 pcalign-left">
					<h3 class="inner-arrow">Bài đăng mới nhất</h3>
				</div>
				<div class="penci-wrapper-posts-content">
        
	<ul class="penci-wrapper-data penci-grid">	
          			<%= render 'recipes/recipe_list', recipes: @recipes %>
                </ul>
        		</div>

				<section class="home-featured-cat mag-cat-style-3">
					<div class="penci-border-arrow penci-homepage-title penci-home-latest-posts style-2 pcalign-left">
            			<h3 class="inner-arrow">Được yêu thích</h3>
					</div>
					<div class="home-featured-cat-content style-3">
						<%= render 'recipes/recipe_list_2', recipes: @recipes_rcm %>
					</div>
				</section>

				<section class="home-featured-cat mag-cat-style-1">
					<div class="penci-border-arrow penci-homepage-title penci-home-latest-posts style-2 pcalign-left">
						<h3 class="inner-arrow">Góc review</h3>
					</div>
					<div class="home-featured-cat-content style-1">
						<div class="cat-left">
							<div class="mag-post-box first-post">
								<div class="magcat-thumb">
									<a class="penci-image-holder" style="background-image: url(&#39;https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2020/02/28-1.jpg?resize=533%2C390&amp;ssl=1&#39;);" href="#"></a>
								</div>
								<div class="magcat-detail">
									<div class="mag-header">
										<h3 class="magcat-titlte"><a href="#">Món ngon dân dã ngày xuân – CÁCH LÀM BÁNH ĐÚC LẠC BẰNG CHẢO &amp; BẾP TỪ</a></h3>
										<div class="grid-post-box-meta mag-meta">
											<span>February 6, 2020</span>
										</div>
									</div>			
								</div>
							</div>
						</div>

						<div class="cat-right">
							<%= render 'recipes/recipe_list_3', recipes: @recipes_1 %>
						</div>																
					</div>
				</section>
  			</div>
    	</div>

<div id="sidebar" class="penci-sidebar-content style-4 pcalign-center penci-sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
	<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">
		<aside id="penci_about_widget-4" class="widget penci_about_widget">
    <h4 class="widget-title penci-border-arrow">
      <span class="inner-arrow">Author</span>
    </h4>
			<div class="about-widget pc_aligncenter">
																				<img class="penci-widget-about-image holder-square penci-lazy" src="/assets/core-img/logo2.png" alt="Author" style="border-radius: 50%; display: inline;">
									<p>Căn Bếp nhà Esheep. Góc nhỏ mày mò chia sẻ công thức nấu ăn, làm bánh, review đồ bếp. Chia sẻ tình yêu gia đình, bếp, vườn, chụp ảnh, du lịch...</p>
			</div>
			</aside><aside id="penci_social_widget-2" class="widget penci_social_widget"><h4 class="widget-title penci-border-arrow"><span class="inner-arrow">Liên hệ với tôi</span></h4>
			<div class="widget-social pc_aligncenter">
									<a href="#" target="_blank"><i class="fab fa-facebook-f" style="font-size: 15px"></i><span style="font-size: 13px">Facebook</span></a>
									<a href="#" target="_blank"><i class="fab fa-instagram" style="font-size: 15px"></i><span style="font-size: 13px">Instagram</span></a>
									<a href="#" target="_blank"><i class="fab fa-youtube" style="font-size: 15px"></i><span style="font-size: 13px">Youtube</span></a>
									<a href="#"><i class="far fa-envelope" style="font-size: 15px"></i><span style="font-size: 13px">Email</span></a>
							</div>

			</aside>







      <aside id="penci_popular_news_widget-2" class="widget penci_popular_news_widget">
        <h4 class="widget-title penci-border-arrow"><span class="inner-arrow">Bài đăng nổi bật</span></h4>
				  <ul class="side-newsfeed display-order-numbers recipe-item">
          	<%= render 'recipes/recipe_side', recipes: @recipes_side %>
					</ul>
			</aside>


      <aside id="penci_facebook_widget-2" class="widget penci_facebook_widget">
				<h4 class="widget-title penci-border-arrow">
					<span class="inner-arrow">Facebook</span>
				</h4>
				<div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/esheepkitchenvn/" data-height="290" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=340&amp;height=290&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fesheepkitchenvn%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=false">
					<span style="vertical-align: bottom; width: 340px; height: 290px;">
						<iframe width="1000px" height="290px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" style="border: none; visibility: visible; width: 340px; height: 290px;"></iframe>
					</span>
				</div>
			</aside>

			<aside id="custom_html-4" class="widget_text widget widget_custom_html">
			<div class="textwidget custom-html-widget">
				<aside id="text-3" class="widget widget_text">
				<h4 class="widget-title penci-border-arrow"><span class="inner-arrow">Youtube</span></h4>
				<div class="textwidget">
					<p>
					<div class="fluid-width-video-wrapper" style="padding-top: 50%;">
						<iframe src="https://www.youtube.com/embed/8LMgxCfPb20" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" name="fitvid0"></iframe></div><br> <div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="https://www.youtube.com/embed/8LMgxCfPb20" frameborder="0" allowfullscreen="" name="fitvid1"></iframe></div> <br> <div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="https://www.youtube.com/embed/8LMgxCfPb20" frameborder="0" allowfullscreen="" name="fitvid2"></iframe></div></p></div></aside></div></aside><aside id="jr_insta_slider-5" class="widget jr-insta-slider"><h4 class="widget-title penci-border-arrow"><span class="inner-arrow">INSTAGRAM</span></h4>Instagram requires authorization to view a user profile. Use autorized account in widget settings</aside><aside id="categories-5" class="widget widget_categories"><h4 class="widget-title penci-border-arrow"><span class="inner-arrow">Danh mục</span></h4>		
        <ul>
  				<li class="cat-item cat-item-19"><a href="#">Công thức<span class="category-item-count">(<%= Recipe.count %>)</span></a>
            <ul class="children">
            <% Category.all.each do |category| %>
				<li class="cat-item cat-item-8">
					<a href="<%= recipes_path params: {query: category.name, type: :category} %>"><%= category.name %><span class="category-item-count">(<%= category.recipes.count %>)</span></a>
            	</li>
            <% end %>
            </ul>
          </li>
          <li class="cat-item cat-item-19"><a href="#">About us<span class="category-item-count"></span></a>
          </li>
		</ul>
			</aside>	</div>
</div>


  </div>
<!-- ##### Catagory Area End ##### -->
