<!DOCTYPE html>
<html>

<head>
  <title>Recipe</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- jQuery-2.2.4 js -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <%= yield :head %>
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-content">
      <h3>Cooking in progress..</h3>
      <div id="cooking">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div id="area">
          <div id="sides">
            <div id="pan"></div>
            <div id="handle"></div>
          </div>
          <div id="pancake">
            <div id="pastry"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <!-- Navbar Area -->
    <div class="bueno-main-menu" id="sticker">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="buenoNav">

            <!-- Toggler -->
            <!-- <div id="toggler"><img src="/assets/core-img/toggler.png" alt=""></div> -->

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu container-fluid">
              <div class="row">
                <div class="col-lg-3">
                  <a class="logo" href="/">
                    <img class="img-fluid" src="/assets/core-img/logo2.png" alt="">
                  </a>
                  <!-- Close Button -->
                  <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                  </div>
                </div>

                <div class="col-lg-5 search-form d-flex align-items-center">
                  <form class="form full-width" action="/recipes" method="get">
                    <div class="input-group">
                      <input class="form-control" type="search" id="topSearch"
                        placeholder="Search for recipe, category, ingredient, ..." name="query">
                    </div>
                  </form>
                </div>

                <div class="classynav col-lg-1">
                  <% if user_signed_in? %>
                  <a href='/profile/bookmarked-recipes' data-toggle="tooltip" title='Bookmarked recipes list'
                    style='margin-left: 100px; z-index: 100; color: red'>
                    <span style="position: relative">
                      <i style="display:inline; color:lightpink; font-size: 22px;" class='fas fa-heart'></i>
                      <span
                        style="position: absolute; right: -20px; top: -12px; color:lightpink">(<%= current_user.bookmarks.count %>)</span>
                    </span>
                  </a>
                  <% end %>
                </div>

                <!-- Nav Start -->
                <div class="classynav col-lg-3">
                  <!-- <ul>
                    <li><%= link_to("Home", home_url) %></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Categories</a>
                      <ul class="dropdown">
                        <% Category.all.each do |category| %>
                        <li><%= link_to(category.name, "#")  %></li>
                        <% end %>
                      </ul>
                    </li>
                    <li><a href="/recipes">Recipes</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul> -->

                  <!-- Login/Register -->
                  <div class="login-area">
                    <% if user_signed_in? %>

                    <div class="dropdown show">
                      <a class="btn dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img style="max-width: 40px; margin-right: 15px" src="<%= current_user.avatar %>"><%= current_user.username %></a> <div
                          class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <%= link_to("Profile","/profile", class: "dropdown-item") %>
                        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
                    </div>
                  </div>
                  <% else %>
                  <%= link_to("Login / Register","/users/sign_in") %>
                  <% end %>
                </div>
              </div>
              <!-- Nav End -->
            </div>
        </div>
        </nav>
      </div>
    </div>
    </div>
  </header>

	<div class="container">
		<nav id="navigation" class="header-layout-top menu-style-2 penci-disable-sticky-nav">
			<div class="container">
				<ul id="menu-main-menu-1" class="menu">
					<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-66">
						<a href="/">Home</a>
					</li>
					<li class="menu-item menu-item-type-taxonomy menu-item-object-category penci-mega-menu menu-item-1209">
						<a href="#">Công Thức</a>
						<ul class="sub-menu">
							<li class="menu-item-0">
								<div class="penci-megamenu">
									<div class="penci-mega-child-categories">
										<a class="mega-cat-child" href="#" data-id="penci-mega-13">
											<span>Bánh mì</span>
										</a>
										<a class="mega-cat-child" href="#" data-id="penci-mega-4">
											<span>Bánh ngọt</span>
										</a>
										<a class="mega-cat-child all-style" href="https://www.esheepkitchen.com/category/recipe/" data-id="penci-mega-138">
											<span>All</span>
										</a>
									</div>

									<div class="penci-content-megamenu">
										<div class="penci-mega-latest-posts col-mn-4 mega-row-1">
											<div class="penci-mega-row penci-mega-13" style="display: none;">
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="#">Bánh mì</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i2.wp.com/www.esheepkitchen.com/wp-content/uploads/2015/11/bulgogi-pizza1.jpg?resize=585%2C390&amp;ssl=1&#39;)"
															href="http://localhost:8080/recipes/1"
															title="BULGOGI PIZZA (PIZZA VỊ THỊT BÒ NƯỚNG KIỂU HÀN QUỐC)">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="http://localhost:8080/recipes/1"
																title="BULGOGI PIZZA (PIZZA VỊ THỊT BÒ NƯỚNG KIỂU HÀN QUỐC)">
																BULGOGI PIZZA (PIZZA VỊ THỊT BÒ NƯỚNG)
															</a>
														</h3>
														<p class="penci-mega-date">November 20, 2019</p>
													</div>
												</div>
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="#">Bánh mì</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i2.wp.com/www.esheepkitchen.com/wp-content/uploads/2015/09/banh-my-dau-tuoi-1.jpg?resize=585%2C390&amp;ssl=1&#39;)"
															href="http://localhost:8080/recipes/2"
															title="BỮA SÁNG TRONG LÀNH VỚI BÁNH MÌ DÂU TƯƠI">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="http://localhost:8080/recipes/2"
																title="BỮA SÁNG TRONG LÀNH VỚI BÁNH MÌ DÂU TƯƠI">
																BỮA SÁNG TRONG LÀNH VỚI BÁNH MÌ DÂU
															</a>
														</h3>
														<p class="penci-mega-date">September 4, 2019</p>
													</div>
												</div>
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="#">Bánh mì</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2015/09/apple-pizza-8.jpg?resize=585%2C390&amp;ssl=1&#39;)"
															href="http://localhost:8080/recipes/3"
															title="Giời mưa giời bão, Ăn APPLE PIZZA, thơm không cưỡng nổi">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="https://www.esheepkitchen.com/gioi-mua-gioi-bao-an-apple-pizza-thom-khong-cuong-noi/"
																title="Giời mưa giời bão, Ăn APPLE PIZZA, thơm không cưỡng nổi">
																Giời mưa giời bão, Ăn APPLE PIZZA
															</a>
														</h3>
														<p class="penci-mega-date">September 4, 2015</p>
													</div>
												</div>
											</div>

											<div class="penci-mega-row penci-mega-4" style="display: none;">
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="#">Bánh ngọt</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2020/02/1-5.jpg?resize=585%2C390&amp;ssl=1&#39;)"
															href="http://localhost:8080/recipes/4"
															title="/LOVE YOURSELF/ CÁCH LÀM BÁNH CHUỐI NƯỚNG CHOCOLATE “LOVE YOURSELF” &amp; QUÀ TẶNG GIVEAWAY VALENTINE’s DAY cho hội F.A">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="http://localhost:8080/recipes/4">
																CÁCH LÀM BÁNH CHUỐI NƯỚNG CHOCOLATE
															</a>
														</h3>
														<p class="penci-mega-date">February 14, 2020</p>
													</div>
												</div>
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="#">Bánh ngọt</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2020/02/1-5.jpg?resize=585%2C390&amp;ssl=1&#39;)"
															href="http://localhost:8080/recipes/5"
															title="VALENTINE’S DAY: CÁCH LÀM COCO-BROWNIE HOÀN HẢO NHƯ CRUSH CỦA BẠN">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="http://localhost:8080/recipes/5"
																title="VALENTINE’S DAY: CÁCH LÀM COCO-BROWNIE HOÀN HẢO NHƯ CRUSH CỦA BẠN">
																VALENTINE’S DAY: CÁCH LÀM COCO-BROWNIE HOÀN HẢO
															</a>
														</h3>
														<p class="penci-mega-date">February 12, 2020</p>
													</div>
												</div>
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="#">Bánh ngọt</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i2.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/06/man-1.jpg?resize=585%2C390&amp;ssl=1&#39;)"
															href="http://localhost:8080/recipes/6"
															title="SUMMER CHEESECAKE (NO-BAKED)">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="http://localhost:8080/recipes/6"
																title="SUMMER CHEESECAKE (NO-BAKED)">
																SUMMER CHEESECAKE (NO-BAKED)
															</a>
														</h3>
														<p class="penci-mega-date">June 16, 2019</p>
													</div>
												</div>
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="#">Bánh ngọt</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/03/bizeno.jpg?resize=585%2C390&amp;ssl=1&#39;)"
															href="http://localhost:8080/recipes/7"
															title="CÁCH LÀM BIZCOCHO DE LIMÓN BÁNH TRUYỀN THỐNG TÂY BAN NHA">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="http://localhost:8080/recipes/7"
																title="CÁCH LÀM BIZCOCHO DE LIMÓN BÁNH TRUYỀN THỐNG TÂY BAN NHA">
																CÁCH LÀM BIZCOCHO DE LIMÓN
															</a>
														</h3>
														<p class="penci-mega-date">January 3, 2019</p>
													</div>
												</div>
											</div>
											<div class="penci-mega-row penci-mega-138 row-active" style="display: none;">
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="https://www.esheepkitchen.com/category/recipe/">Công Thức</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://www.esheepkitchen.com/wp-content/themes/soledad/images/no-image.jpg&#39;)"
															href="http://localhost:8080/recipes/8"
															title="/LOVE YOURSELF/ CÁCH LÀM BÁNH CHUỐI NƯỚNG CHOCOLATE “LOVE YOURSELF” &amp; QUÀ TẶNG GIVEAWAY VALENTINE’s DAY cho hội F.A">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="http://localhost:8080/recipes/1">
																CÁCH LÀM BÁNH CHUỐI NƯỚNG CHOCOLATE
															</a>
														</h3>
														<p class="penci-mega-date">February 14, 2020</p>
													</div>
												</div>
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="http://localhost:8080/recipes/1">Công Thức</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2020/02/1-5.jpg?resize=585%2C390&amp;ssl=1&#39;)"
															href="http://localhost:8080/recipes/1"
															title="VALENTINE’S DAY: CÁCH LÀM COCO-BROWNIE HOÀN HẢO NHƯ CRUSH CỦA BẠN">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="https://www.esheepkitchen.com/valentines-day-cach-lam-coco-brownie-hoan-hao-nhu-crush-cua-ban/"
																title="VALENTINE’S DAY: CÁCH LÀM COCO-BROWNIE HOÀN HẢO NHƯ CRUSH CỦA BẠN">
																VALENTINE’S DAY: CÁCH LÀM COCO-BROWNIE HOÀN HẢO
															</a>
														</h3>
														<p class="penci-mega-date">February 12, 2020</p>
													</div>
												</div>
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="#">Công Thức</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2020/02/1-3.jpg?resize=546%2C390&amp;ssl=1&#39;)"
															href="https://www.esheepkitchen.com/cach-lam-cu-cai-ngam-mam-duong-doi-vi-sau-tet/"
															title="CÁCH LÀM CỦ CẢI NGÂM MẮM ĐƯỜNG ĐỔI VỊ SAU TẾT">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="https://www.esheepkitchen.com/cach-lam-cu-cai-ngam-mam-duong-doi-vi-sau-tet/"
																title="CÁCH LÀM CỦ CẢI NGÂM MẮM ĐƯỜNG ĐỔI VỊ SAU TẾT">
																CÁCH LÀM CỦ CẢI NGÂM MẮM ĐƯỜNG ĐỔI
															</a>
														</h3>
														<p class="penci-mega-date">February 7, 2020</p>
													</div>
												</div>
												<div class="penci-mega-post">
													<div class="penci-mega-thumbnail">
														<span class="mega-cat-name">
															<a href="#">Công Thức</a>
														</span>
														<a class="penci-image-holder"
															style="background-image: url(&#39;https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2020/02/28-1.jpg?resize=533%2C390&amp;ssl=1&#39;)"
															href="http://localhost:8080/recipes/1"
															title="Món ngon dân dã ngày xuân – CÁCH LÀM BÁNH ĐÚC LẠC BẰNG CHẢO &amp; BẾP TỪ">
														</a>
													</div>
													<div class="penci-mega-meta">
														<h3 class="post-mega-title">
															<a href="https://www.esheepkitchen.com/mon-ngon-dan-da-ngay-xuan-cach-lam-banh-duc-lac-bang-chao-bep-tu/"
																title="Món ngon dân dã ngày xuân – CÁCH LÀM BÁNH ĐÚC LẠC BẰNG CHẢO &amp; BẾP TỪ">
																Món ngon dân dã ngày xuân
															</a>
														</h3>
														<p class="penci-mega-date">February 6, 2020</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>

					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51">
						<a href="contact">About Us</a>
					</li>

													<li class="menu-item menu-item-type-taxonomy menu-item-object-category penci-mega-menu menu-item-940"><a href="https://www.esheepkitchen.com/category/travel/">Travel</a>
															<ul class="sub-menu">
																	<li class="menu-item-0">
																			<div class="penci-megamenu">
																					<div class="penci-content-megamenu">
																							<div class="penci-mega-latest-posts col-mn-5 mega-row-1">
																									<div class="penci-mega-row penci-mega-106 row-active">
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="https://www.esheepkitchen.com/category/travel/">
											Travel										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://i2.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/10/48895982903_7f081f00fa_k.jpg?resize=585%2C390&amp;ssl=1&#39;)" href="https://www.esheepkitchen.com/cach-tu-lam-banh-uot-long-ga/"
																															title="CÁCH TỰ LÀM BÁNH ƯỚT LÒNG GÀ SIÊU NGON">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="https://www.esheepkitchen.com/cach-tu-lam-banh-uot-long-ga/" title="CÁCH TỰ LÀM BÁNH ƯỚT LÒNG GÀ SIÊU NGON">CÁCH TỰ LÀM BÁNH ƯỚT LÒNG GÀ SIÊU…</a>
								</h3>
																															<p class="penci-mega-date">October 18, 2019</p>
																													</div>
																											</div>
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="https://www.esheepkitchen.com/category/travel/">
											Travel										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/10/6.jpg?resize=585%2C390&amp;ssl=1&#39;)" href="https://www.esheepkitchen.com/24h-ho-hen-voi-mua-thu-ha-noi/" title="24H HÒ HẸN VỚI MÙA THU HÀ NỘI">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="https://www.esheepkitchen.com/24h-ho-hen-voi-mua-thu-ha-noi/" title="24H HÒ HẸN VỚI MÙA THU HÀ NỘI">24H HÒ HẸN VỚI MÙA THU HÀ NỘI</a>
								</h3>
																															<p class="penci-mega-date">October 14, 2019</p>
																													</div>
																											</div>
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="https://www.esheepkitchen.com/category/travel/">
											Travel										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/08/israel.jpg?resize=585%2C390&amp;ssl=1&#39;)" href="https://www.esheepkitchen.com/israel-culinary/" title="Israel Culinary – XỨ SỞ DIỆU KỲ">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="https://www.esheepkitchen.com/israel-culinary/" title="Israel Culinary – XỨ SỞ DIỆU KỲ">Israel Culinary – XỨ SỞ DIỆU KỲ</a>
								</h3>
																															<p class="penci-mega-date">July 5, 2019</p>
																													</div>
																											</div>
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="https://www.esheepkitchen.com/category/travel/">
											Travel										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://www.esheepkitchen.com/wp-content/themes/soledad/images/no-image.jpg&#39;)" href="https://www.esheepkitchen.com/101-tips-di-dai-loan-p1-mua-ca-the-gioi-dang-yeu-ve-lam-qua/" title="[101 TIPS ĐI ĐÀI LOAN – P1] MUA CẢ THẾ GIỚI ĐÁNG YÊU VỀ LÀM QUÀ!">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="https://www.esheepkitchen.com/101-tips-di-dai-loan-p1-mua-ca-the-gioi-dang-yeu-ve-lam-qua/" title="[101 TIPS ĐI ĐÀI LOAN – P1] MUA CẢ THẾ GIỚI ĐÁNG YÊU VỀ LÀM QUÀ!">[101 TIPS ĐI ĐÀI LOAN – P1] MUA…</a>
								</h3>
																															<p class="penci-mega-date">December 27, 2018</p>
																													</div>
																											</div>
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="https://www.esheepkitchen.com/category/travel/">
											Travel										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/04/dau-kho.jpg?resize=585%2C390&amp;ssl=1&#39;)" href="https://www.esheepkitchen.com/dau-kho-thay-thit/" title="ĐẬU KHÔ – GIẢI PHÁP THAY THẾ THỊT TRONG BỮA ĂN HÀNG NGÀY?">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="https://www.esheepkitchen.com/dau-kho-thay-thit/" title="ĐẬU KHÔ – GIẢI PHÁP THAY THẾ THỊT TRONG BỮA ĂN HÀNG NGÀY?">ĐẬU KHÔ – GIẢI PHÁP THAY THẾ THỊT…</a>
								</h3>
																															<p class="penci-mega-date">December 14, 2018</p>
																													</div>
																											</div>
																									</div>
																							</div>
																					</div>

																			</div>
																	</li>
															</ul>
													</li>
													<li class="menu-item menu-item-type-taxonomy menu-item-object-category penci-mega-menu menu-item-2860"><a href="https://www.esheepkitchen.com/category/goc-review/">Góc Review</a>
															<ul class="sub-menu">
																	<li class="menu-item-0">
																			<div class="penci-megamenu">
																					<div class="penci-content-megamenu">
																							<div class="penci-mega-latest-posts col-mn-5 mega-row-1">
																									<div class="penci-mega-row penci-mega-129 row-active">
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="https://www.esheepkitchen.com/category/goc-review/">
											Góc Review										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/12/Orbit-.jpg?resize=585%2C390&amp;ssl=1&#39;)" href="https://www.esheepkitchen.com/com-chien-duong-chau-bang-noi-orbit/" title="ĐẬP HỘP CHIẾC NỒI VŨ TRỤ SANG CHẢNH ORBIT &amp; THỬ NGHIỆM RANG CƠM CHIÊN DƯƠNG CHÂU">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="https://www.esheepkitchen.com/com-chien-duong-chau-bang-noi-orbit/" title="ĐẬP HỘP CHIẾC NỒI VŨ TRỤ SANG CHẢNH ORBIT &amp; THỬ NGHIỆM RANG CƠM CHIÊN DƯƠNG CHÂU">ĐẬP HỘP CHIẾC NỒI VŨ TRỤ SANG CHẢNH…</a>
								</h3>
																															<p class="penci-mega-date">December 4, 2019</p>
																													</div>
																											</div>
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="https://www.esheepkitchen.com/category/goc-review/">
											Góc Review										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/12/Orbit-.jpg?resize=585%2C390&amp;ssl=1&#39;)" href="https://www.esheepkitchen.com/dap-hop-chiec-noi-vu-tru-sang-chanh-orbit-thu-nghiem-rang-com-chien-duong-chau/"
																															title="ĐẬP HỘP CHIẾC NỒI VŨ TRỤ SANG CHẢNH ORBIT &amp; THỬ NGHIỆM RANG CƠM CHIÊN DƯƠNG CHÂU">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="https://www.esheepkitchen.com/dap-hop-chiec-noi-vu-tru-sang-chanh-orbit-thu-nghiem-rang-com-chien-duong-chau/" title="ĐẬP HỘP CHIẾC NỒI VŨ TRỤ SANG CHẢNH ORBIT &amp; THỬ NGHIỆM RANG CƠM CHIÊN DƯƠNG CHÂU">ĐẬP HỘP CHIẾC NỒI VŨ TRỤ SANG CHẢNH…</a>
								</h3>
																															<p class="penci-mega-date">December 4, 2019</p>
																													</div>
																											</div>
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="https://www.esheepkitchen.com/category/goc-review/">
											Góc Review										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://i2.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/10/48973905216_dc4768e3b0_k.jpg?resize=585%2C390&amp;ssl=1&#39;)" href="https://www.esheepkitchen.com/khoe-ban-tuyet-pham-thit-quay-gion-bi-voi-noi-chien-khong-dau/"
																															title="KHOE BẠN TUYỆT PHẨM THỊT QUAY GIÒN BÌ VỚI NỒI CHIÊN KHÔNG DẦU">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="https://www.esheepkitchen.com/khoe-ban-tuyet-pham-thit-quay-gion-bi-voi-noi-chien-khong-dau/" title="KHOE BẠN TUYỆT PHẨM THỊT QUAY GIÒN BÌ VỚI NỒI CHIÊN KHÔNG DẦU">KHOE BẠN TUYỆT PHẨM THỊT QUAY GIÒN BÌ…</a>
								</h3>
																															<p class="penci-mega-date">October 28, 2019</p>
																													</div>
																											</div>
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="#">
											Góc Review										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://i2.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/08/48228948811_c5c7cde5fb_o.jpg?resize=585%2C390&amp;ssl=1&#39;)" href="https://www.esheepkitchen.com/chiec-noi-tchef-series-casserole-tang-bang-troi/"
																															title="CHIẾC NỒI TCHEF SERIES CASSEROLE &amp; TẢNG BĂNG TRÔI">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="#" title="CHIẾC NỒI TCHEF SERIES CASSEROLE &amp; TẢNG BĂNG TRÔI">CHIẾC NỒI TCHEF SERIES CASSEROLE &amp; TẢNG BĂNG…</a>
								</h3>
																															<p class="penci-mega-date">July 26, 2019</p>
																													</div>
																											</div>
																											<div class="penci-mega-post">
																													<div class="penci-mega-thumbnail">
																															<span class="mega-cat-name">
																			<a href="#">
											Góc Review										</a>
																	</span>
																															<a class="penci-image-holder" style="background-image: url(&#39;https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/08/48229929762_595c025b89_o.jpg?resize=585%2C390&amp;ssl=1&#39;)" href="https://www.esheepkitchen.com/may-loc-khong-khi-hafele-cf-8209-%f0%9f%8c%b1/"
																															title="MÁY LỌC KHÔNG KHÍ HAFELE CF-8209 🌱">
																															</a>
																													</div>
																													<div class="penci-mega-meta">
																															<h3 class="post-mega-title">
									<a href="#" title="MÁY LỌC KHÔNG KHÍ HAFELE CF-8209 🌱">MÁY LỌC KHÔNG KHÍ HAFELE CF-8209 🌱</a>
								</h3>
																															<p class="penci-mega-date">July 22, 2019</p>
																													</div>
																											</div>
																									</div>
																							</div>
																					</div>

																			</div>
																	</li>
															</ul>
													</li>

											</ul>




									</div>
		</nav>
	</div>

    <div class="inner-header">
      <div class="container">
        <div class="col-sm-4" style="margin:auto">
          <!-- Copywrite Text -->
                            <a class="logo" href="/">
                    <img class="img-fluid" src="/assets/core-img/logo2.png" alt="">
                  </a>
        </div>
      </div>
    </div>

  <%= yield %>

	<div class="clear-footer"></div>
  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-5">
          <!-- Copywrite Text -->
          <p class="copywrite-text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());

            </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i>
            by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        <div class="col-12 col-sm-7">
          <!-- Footer Nav -->
          <div class="footer-nav">
            <ul>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="recipe">Recipes</a></li>
              <li><a href="category-post">About Us</a></li>
              <li><a href="single">Blog</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ##### Footer Area Start ##### -->
  <!-- ##### All Javascript Script ##### -->
  <!-- jQuery-2.2.4 js -->
  <script src="/assets/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/assets/bootstrap/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/assets/bootstrap/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="/assets/plugins/plugins.js"></script>
  <!-- Active js -->
  <script src="/assets/active.js"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>


</body>

</html>